@charset "UTF-8";

body {  
	background-color: #8B4513;
    text-align: center;
    color: #FFFFFF;
} 
 
#content {  
    width: 100%;  
    margin: 0 auto;  
    text-align: left;  
}  

footer{
	padding: 10px 0px 10px 0px;
	border-top: 1px rgb(255,255,255) solid;
}